// Background 
    // color
$background-color__dark:      #1c1d25;
$background-color__subdark:   #9a9cb0;
$background-color__light:     #ffffff;
$background-color__sublight:  #b8bad0;
$background-color__accent:    #4cdead; 

// Font
    // color
$font-color__dark:     #1c1d25;
$font-color__subdark:  #9a9cb0;
$font-color__light:    #ffffff;       
$font-color__sublight: #b8bad0;    
$font-color__accent:   rgb(76, 222, 173);    

// Box
    // padding
$padding__block: 40px;
$padding__smblock: 20px;
    // border
$border__main: 1px solid rgba(0,0,0,.2);
    // radius
$border-radius__smblock: 4px;
$border-radius__block: 8px;
    // shadow
$box-shadow__main: 0 0 7px rgba(0,0,0,.2);
    // height
$height__smblock: 45px;
// Animation
$animation-duration__main: 1s;

// Hover
$transition-duration__hover: .3s;








